<div class="container">
  <div class="row top-buffer">
    <div class="col-md-4">
      <% if (!req.user.slackInfo) {%>
      <h2>
        <a href="https://slack.com/oauth/authorize?scope=identify,read,post,client&client_id=86496927043.86497181619&redirect_uri=http://localhost:1337/user/slack">
          <img alt="Sign in with Slack" height="40" width="40" src="/images/slack.png"/> Add to Slack
        </a>
      </h2>
      <%} else {%>
        <% _.each(_.filter(users, function(user){return user.id != req.user.id}), function(user) {%>
          <a href="/user/connect/<%= user.id %>"><%= user.name %><br>
        <%}) %>
      <%}%>
    </div>
  </div>
</div>
